/* Project Brief Styling */
#projectbrief {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

h1, h2, h3, ul, li, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
}

ul, li, p, a {
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    margin: 75px;
}

header h1 {
    padding: 25px;
    text-align: center;
}

main h2 {
    margin: 50px 0 25px 0;
}

p, a {
    line-height: 2;
    padding-bottom: 25px;
    font-size: 18px;
}

main a {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
    text-align: center; 
}

footer p a {
    padding: 10px;
    color: black;
}

footer p a:hover {
    background-color: black;
    color: white;
}




/* Comp and Refined Comp Styling */
.comp {
    min-width: 800px;
    max-width: 1200px;
    margin: auto;
}

.comp img {
    width: 100%;
    margin: 50px 0;
}

/* User Testing Results Styling */
#usertestresults {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}