/** {
    box-sizing: border-box;
}*/

h1, h2, h3, p, button, a {
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
    transition: all 1.5s;
}

body.switch {
    background-color: rgb(24, 24, 24);
    color: rgb(235, 235, 235);
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
}

header {
    margin: 0 1em;
}

header section {
    margin: 0 auto 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

header section h1 {
    font-size: 36px;
}

header section h2 {
    font-size: 14px;
}

button {
    height: 100%;
    padding: 0.75em 1.5em;
    border: 2px solid blue;
    border-radius: 30px;
    background-color: rgb(0,0,0,0);
    color: blue;
    font-size: 18px;
}

button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

button.switch {
    background-color: rgb(0,0,0,0);
    color:#00FF00;
    border-color: #00FF00;
}

button.switch:hover {
    background-color: #00FF00;
    color: rgb(24, 24, 24);
}

#banner {
    max-width: 1110px;
    height: 100%;
    margin: auto;
    filter: hue-rotate(180deg);
    transition: all 1s;
}

#banner:hover {
    filter: none;
}

#banner.switch {
    filter: hue-rotate(90deg);
    transition: all 1s;
}

#banner.switch:hover {
    filter: none;
}


main {
    display: flex;
    justify-content: space-evenly;
    margin: 5em auto;
    padding: 0 1em;
    max-width: 1110px;
}

main section {
    width: 25%;
    margin: 1em 1em 1em 0;
}

main section h3 {
    font-size: 24px;
    margin-top: 0;
}

ol, ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#final {
    border: 2px solid rgb(24, 24, 24);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2em;
    height: 100%;
}

#final a {
    font-size: 24px;
}

#final.switch {
    border: 2px solid white;
}

section a {
    line-height: 2em;
    display: inline-block;
    font-size: 18px;
    color: blue;
}

section a:hover {
    background-color: orange;
    color: rgb(24, 24, 24);
}

section.switch a {
    color: #00FF00;
}

section.switch a:hover {
    background-color: yellow;
    color: rgb(24, 24, 24);
}