h1, h2, p, div {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

body {
    max-width: 1366px;
    margin: auto;
    background-image: linear-gradient(#d0d0d0 10%, #b5b5b5, #d0d0d0 40%, gray, #262626 90%);
    height: 768px;
}

#basicInfo {
    margin-top: 100px;
}

#basicInfo h1 {
    font-size: 64px;
    font-family: 'Faster One', cursive;
    margin-bottom: 20px;
    height: 70px;
}

#age {
    font-size: 48px;
}

#yearsold {
    font-size: 24px;
}

#sideContent {
    margin: 0 70px;
}

#personality {
    display: flex;
    justify-content: space-between;
}

#interestsSection {
    margin-top: 100px;
}

#interestsSection h1{
    margin-bottom: 20px;
}

#interests p {
    padding: 15px;
    border-radius: 30px;
    background-color: #EF8C0B;
    display: inline-block;
}

.bar {
    width: 300px;
    height: 15px;
    position: relative;
    margin: 10px 0 40px 0;
}

#centerContent {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0%;
    height: 100%;
    width: 25%;
}

.character {
    position: absolute;
    bottom: 20%;
    z-index: 1;
    left: 13%;
    max-width: 250px;
}

#slideContainer {
    position: absolute;
    bottom: 10%;
    width: 100%;
}

#mySlider {
    width: 200px;
    display: block;
    margin: 50px auto 0 auto;
}